/Ex6/nbproject/private/
/Ex6/build/
/Ex7/nbproject/private/
/Ex7/build/
/Exfinal/nbproject/private/
/Ex7F/nbproject/private/
/Ex7F/build/
/Ex8/build/
/Ex9/nbproject/private/
/Ex9/build/
/Ex10/nbproject/private/
/Ex10/build/